.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.app-title {
  height: 14vh;
}
.spells-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cd-wrapper {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cd-option {
  position: relative;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.cd-option img {
  width: 100%;
  height: 100%;
  display: block;
}

.cd-option .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* 80% 黑色遮罩 */
  display: none;
}

.cd-option.disabled .overlay {
  display: block;
}
.container-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.position-text {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 10rem;
}

.setting-panel {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 128px;
  border: 2px solid #bda46b;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.setting-panel-spell-btn {
  height: 68px;
  width: 68px;
  padding: 0;
  border: 0;
}
.setting-panel-spell-btn img {
  height: 100%;
  width: 100%;
}
.spells-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  margin: 0.5rem 0;
  position: relative;
}
